.section-inner.details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.details {
	display: flex;
	flex-direction: row;
}
#details-wrapper {
	width: 50%;
	margin-right: 1rem;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	border-radius: 15px;
	p {
		font-size: 1.5rem;
	}
}
.short-description {
	padding: 0.5rem 0rem 0.5rem 0rem;
	font-size: 10rem;
}
.price {
	padding: 0.5rem 0rem 0.5rem 0rem;
}
.category {
	padding: 0.5rem 0rem 0.5rem 0rem;
	font-size: 5px;
}
.rating {
	height: 1.5rem;
	width: 1.5rem;
}
#product-images-detail-page {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	// margin-top: -52px;
}
.product-detail-img {
	&:first-child {
		height: 20rem;
		max-width: 100%;
	}
	height: 5rem;
	max-width: 5rem;
	border-radius: 15px;
	margin: 0;
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}
}
#product-details-page {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 3rem;
}