@use "../abstracts/colors" as color;
@use "../abstracts/mixins" as m;

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: color.$primary-font-color;
  padding: 1rem;
  text-align: center;
  .social-media-icons {
    margin-bottom: 1rem;
    a {
      list-style: none;
      text-decoration: none;
    }
  }
}

.social-media-icons-footer {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  &:hover {
    filter: invert(31%) sepia(0%) saturate(2612%) hue-rotate(165deg)
      brightness(95%) contrast(72%);
  }
}
.footer-links {
  list-style: none;
  text-decoration: none;
  color: color.$light-background-color;
  margin: 1rem;
  margin-top: -0.3rem;
  &:hover {
    color: color.$product-btn-hover-btn;
  }
  @include m.for-tablet-landscape-up {
    display: flex;
    flex-direction: column;
  }
  .footer-links.active {
    font-weight: bold;
  }
}
