
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: white;
  padding: 1rem;
  text-align: center;
  // background-color: black;
  // opacity: 30%;
}

.social-media-icons {
  margin-bottom: 1rem;
}

.social-media-icons a {
  list-style: none;
  text-decoration: none;
}

.social-media-icons-footer {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.footer-links {
  list-style: none;
  text-decoration: none;
  color: white;
  margin: 1rem;
  font-size: 1.3rem;
}

.footer-links.active {
  font-weight: bold;
  // color: rgb(92, 91, 91);
}

.footer-links:hover {
  // color: rgb(92, 91, 91);
}

.social-media-icons-footer:hover {
  filter: invert(31%) sepia(0%) saturate(2612%) hue-rotate(165deg) brightness(95%) contrast(72%);
}