
#main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  // gap: 1.5rem;
  height: 3rem;
  background-color: grey;
    opacity: 60%;
  margin-top: -5px;
}


nav a {
  color:white;
  text-decoration: none;
  font-size: 3vw;
}

nav a:hover {
  color: rgb(92, 91, 91);
}

#logo-name {
  color: #272727;
  font-weight: bold;
}