@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Distressed&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
}

body {
  max-width: 2040px;
  min-width: 300px;
  margin: 0 auto;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: url(../assets/images/backgrounds/mountain4.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}

.main-image-wrapper {
  position: relative;
}

#main-img {
  height: 25rem;
  max-width: 100%;
}

/* Centered text */
.main-img-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-img-text {
  color: white;
  font-size: 4rem;
  font-family: "Rubik Distressed", cursive;
  letter-spacing: 0.6rem;
  overflow-wrap: break-word;
}

/* ===== TEST CARDS ====== */
/* Add some padding inside the card container */
.container {
  padding: 0.8rem;
}

section {
  padding: 1rem;
  margin-bottom: 5rem;
}

.section-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}

/* ===== TOGGLE MORE INFO END ======= */
#menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* KEYFRAMES */
.animate.pop {
  -webkit-animation: animate-pop 0.2s cubic-bezier(0.26, 0.53, 0.74, 1.48);
          animation: animate-pop 0.2s cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@-webkit-keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
/* $body-font-family: 'Open Sans', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400; */
#main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: grey;
  opacity: 60%;
  margin-top: -5px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

nav a:hover {
  color: rgb(92, 91, 91);
}

#logo-name {
  color: #272727;
  font-weight: bold;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: white;
  padding: 1rem;
  text-align: center;
}

.social-media-icons {
  margin-bottom: 1rem;
}

.social-media-icons a {
  list-style: none;
  text-decoration: none;
}

.social-media-icons-footer {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.footer-links {
  list-style: none;
  text-decoration: none;
  color: white;
  margin: 1rem;
  font-size: 1.3rem;
}

.footer-links.active {
  font-weight: bold;
}

.social-media-icons-footer:hover {
  filter: invert(31%) sepia(0%) saturate(2612%) hue-rotate(165deg) brightness(95%) contrast(72%);
}

#employees-wrapper {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.employees-pic-middle {
  width: 100%;
}

.employees-pic {
  width: 50%;
}

#boss-pic {
  height: 15rem;
  width: auto;
  right: 0;
  border-radius: 15px;
  margin: 1rem 0rem 1rem 0rem;
}

#VD-info {
  display: flex;
  align-items: center;
}

#VD-text {
  padding-left: 1rem;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-top: 2rem;
  width: 15rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px; /* 5px rounded corners */
  transition: all 0.3s ease-in-out;
  gap: 1rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 15rem;
  width: 100%;
}

.card-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.card img {
  border-radius: 15px 15px 0px 0px;
}

.product-card-text {
  padding: 1rem;
}

.product-title {
  padding-bottom: 0.5rem;
}

.bottom-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.product-detail-image:hover {
  transform: scale(1.2);
}

#more-info-btn {
  background-color: #d5d5d5;
  padding: 0.5rem;
  border-radius: 10px;
}

#contact-form {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1rem;
}

#form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#form-submit-btn {
  background-color: #272727;
  color: white;
  width: 100%;
}

#thank_you {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: white;
}

/* === DROPDOWN MENU ==== */
.dropbtn {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.182);
}

.product-link-btn {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.182);
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 0.5rem;
}

.product-link-btn a {
  text-decoration: none;
  list-style: none;
  color: rgb(255, 255, 255);
}

.dropbtn:hover, .dropbtn:focus, .product-link-btn:hover, .product-link-btn:focus {
  background-color: #e7e4e4;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  text-align: left;
  font-size: 1rem;
  min-width: 20rem;
  padding: 1rem;
  border-radius: 15px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
  border: 5px solid grey;
}

.dropdown-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#myDIV {
  display: none;
  width: 100%;
  padding: 1rem;
  margin-top: 20px;
}

.section-add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.section-add-product form {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#add-products-btn {
  background-color: rgba(181, 174, 174, 0.2352941176);
  margin-top: 1rem;
  padding: 0.2rem;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
#add-products-btn:hover {
  background-color: rgb(155, 154, 154);
}

#add-product-section {
  min-height: 50rem;
}

#about-us-section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#about-us-section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.section-inner.about-us {
  display: flex;
  flex-direction: row;
}

/* TEST */
.test-card {
  margin: 0rem 1rem 1rem 0rem;
}

.test-first-card {
  width: 22rem;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.test-img-wrapper {
  width: 50%;
}

.test-profile-pic {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  padding: 1rem;
}

.test-text {
  width: 100%;
}

.section-test {
  display: flex;
  margin: auto;
}

#test-contact-form {
  width: 20rem;
  padding: 3rem;
}

#test-fieldset {
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#form-submit-btn-contact {
  background-color: white;
  border: 1px solid black;
  padding: 0.5;
}

.contact-icons {
  display: flex;
  align-items: center;
  justify-content: left;
}

.contact-icons a {
  text-decoration: none;
  color: white;
}

.contact-card-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 0;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

input, select, textarea {
  width: 100%;
}

.title-text-1 {
  margin: auto;
  padding: 1rem;
  font-size: 2rem;
}

.company-info {
  max-width: 25rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

@media only screen and (max-width: 1100px) {
  .section-test {
    flex-direction: column;
  }
  .test-card {
    margin: 0rem 0rem 1rem 0rem;
  }
}
.section-inner.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details {
  display: flex;
  flex-direction: row;
}

#details-wrapper {
  width: 50%;
  margin-right: 1rem;
}

#details-wrapper p {
  font-size: 1.5rem;
}

.short-description {
  padding: 0.5rem 0rem 0.5rem 0rem;
  font-size: 10rem;
}

.price {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.category {
  padding: 0.5rem 0rem 0.5rem 0rem;
  font-size: 5px;
}

.rating {
  height: 1.5rem;
  width: 1.5rem;
}

#product-images-detail-page {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.product-detail-img:first-child {
  height: 20rem;
  max-width: 100%;
}

.product-detail-img {
  height: 5rem;
  max-width: 5rem;
  border-radius: 15px;
  margin: 0;
}

.product-detail-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#product-details-page {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3rem;
}/*# sourceMappingURL=styles.css.map */