$primary-font-color: #fff;
$dark-font-color: black;
$submit-btn-color: #272727;
$light-background-color: #e7e4e4;
$dropdown-box-shadow: rgba(0, 0, 0, 0.2);
$dropdown-box-background: rgba(0, 0, 0, 0.839);
$card-background-color: rgba(0, 0, 0, 0.5);
$add-product-button: #b5aeae3c;
$product-btn-hover-btn: rgb(155, 154, 154);
$dropbtn-background: rgba(255, 255, 255, 0.182); ;
