/* KEYFRAMES */

.animate.pop {
  animation: animate-pop 0.2s cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@mixin animation-mixin($name, $from, $to) {
  @keyframes #{$name} {
    0% {transform: scale(0.5, 0.5);; opacity: 0;}
    100% {transform: scale(1, 1); opacity: 1;}
  }
}

// @include animation-mixin(animate-pop, 0, 100%);