@use "./typography" as font;
@use "../abstracts/colors" as color;

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100%;
}
body {
  max-width: 2040px;
  min-width: 300px;
  margin: 0 auto;
  height: 100%;
  font-family: font.$body-font-family;
  background: url(../assets/images/backgrounds/mountain4.jpg) no-repeat center
    center fixed;
  background-size: cover;
  overflow: auto;
}
main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: 100%;
  width: 100%;
  height: fit-content;
  margin: auto;
}
.main-image-wrapper {
  position: relative;
}
#main-img {
  height: 25rem;
  max-width: 100%;
}
.main-img-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-img-text {
  color: color.$primary-font-color;
  font-size: 5vw;
  font-family: font.$hero-font-family;
  letter-spacing: 0.6rem;
}
.container {
  padding: 0.8rem;
}
section {
  padding: 1rem;
  margin-bottom: 5rem;
}
.section-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}
#menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
